* {
  font-family: Helvetica;
  font-weight: 100;
}

h2 {
  background-color: brown;
  display: inline-block;
  padding: 100px;
  box-sizing: border-box;
  text-align: center;
  margin: 20px 10px;
  border-radius: 2em;
  box-shadow: 30px 30px 10px 10px #000;
  text-shadow: 2px 2px 7px #fff;
  /*transform: rotate(45deg);*/
}
